.content-container {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 90rem;

}


.content-container-sub {
  margin: 0 auto;
  padding: 0 $m-size;
  max-width: 90rem;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(181, 172, 172)
}
